#education {
  padding: 2rem 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

#education h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.education-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 1.5rem; 
}

.education-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  min-height: 350px; 
  justify-content: center; 
  text-align: center;
}

.education-logo {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 1rem;
  align-self: center;
}

.education-details {
  text-align: start;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.degree-type {
  font-weight: bold;
  margin-top: 0.5rem;
}

.honors {
  font-style: italic;
}

@media (max-width: 768px) {
  .education-list {
    flex-direction: column;
    align-items: center;
  }

  .education-item {
    max-width: 100%;
    min-height: auto;
  }
}
