#education {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5.5rem 1.5rem;
  text-align: center;
}

.education-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.education-item {
  align-items: center;
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  min-height: 330px;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

.education-logo {
  align-self: center;
  margin-bottom: 1rem;
  max-height: 100px;
  max-width: 100px;
}

.education-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.degree-type {
  color: var(--secondary-text-color);
  font-weight: bold;
  margin-top: 0.5rem;
}

.honors {
  color: var(--accent-color);
  font-style: italic;
}

@media (max-width: 768px) {
  .education-list {
    align-items: center;
    flex-direction: column;
  }

  .education-item {
    max-width: 100%;
    min-height: auto;
  }
}
