* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #00050f;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 40px;
  width: auto; 
  margin-right: 0.5rem; 
  color: #fff; 
}

.logo-text {
  font-family: 'Pacifico', cursive;
  font-size: 1.2rem; 
  color: #00050f;
  text-shadow: 
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  align-items: center;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.nav-links a:hover {
  color: #61dafb;
}

.toggle-button {
  display: none; /* Hide on desktop */
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: #282c34;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 1rem;
    display: none; /* Hidden by default */
  }

  .nav-links.show {
    display: flex; /* Show when the toggle button is clicked */
  }

  .navbar {
    justify-content: space-between;
  }

  .toggle-button {
    display: block; /* Show toggle button on mobile */
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

