#skills {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1080px;
  padding: 5.5rem 2rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.skill {
  align-items: center;
  background-color: var(--surface-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 1.35rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill.large {
  width: calc(100% - 1rem);
}

.skill.small {
  width: calc(50% - 1rem);
}

.skill:hover {
  transform: translateY(-5px);
}

.skill-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.skill-description {
  color: var(--secondary-text-color);
  font-size: 1rem;
  text-align: center;
}

.certificate-link {
  align-items: start;
  color: var(--link-color);
  display: flex;
  font-size: 0.9rem;
  justify-content: start;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-align: left;
  text-decoration: none;
}

.certificate-link img {
  border: 1px solid var(--border-color);
  border-radius: 1px;
  height: 20px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 20px;
}

.certificate-link:hover {
  text-decoration: underline;
}

.certificates-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
}

.certificates-container.two-columns {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
}

@media (max-width: 768px) {
  #skills {
    padding: 4.5rem 1.5rem;
  }

  .skills-list {
    align-items: center;
    flex-direction: column;
  }

  .skill.small,
  .skill.large {
    width: 100%;
  }

  .certificates-container.two-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
